examples/openregister-example-workflow.json
{
  "name": "OpenRegister Example Workflow",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        128
      ],
      "id": "747e9d47-bebb-4971-bec2-e5adcfe74c4b",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "query": "Descartes Technologies",
        "requestOptions": {}
      },
      "type": "@oregister/n8n-nodes-openregister.openRegister",
      "typeVersion": 1,
      "position": [
        224,
        128
      ],
      "id": "86d8c7ac-6c04-4bda-b1e7-49e387f6e0f3",
      "name": "Get companies by name",
      "credentials": {
        "openRegisterApi": {
          "id": "2Cuv4zEm4M1rj5i1",
          "name": "OpenRegister account"
        }
      }
    },
    {
      "parameters": {
        "operation": "companyDetails",
        "companyId": "={{ $json.company_id }}",
        "requestOptions": {}
      },
      "type": "@oregister/n8n-nodes-openregister.openRegister",
      "typeVersion": 1,
      "position": [
        448,
        -160
      ],
      "id": "7c84879d-3c09-44eb-b68b-2ac9e74a967a",
      "name": "Get company details",
      "credentials": {
        "openRegisterApi": {
          "id": "2Cuv4zEm4M1rj5i1",
          "name": "OpenRegister account"
        }
      }
    },
    {
      "parameters": {
        "operation": "companyOwners",
        "companyId": "={{ $json.company_id }}",
        "requestOptions": {}
      },
      "type": "@oregister/n8n-nodes-openregister.openRegister",
      "typeVersion": 1,
      "position": [
        448,
        224
      ],
      "id": "18cc6751-97ae-4c0e-aadf-ce8152b77d82",
      "name": "Get company owners",
      "credentials": {
        "openRegisterApi": {
          "id": "2Cuv4zEm4M1rj5i1",
          "name": "OpenRegister account"
        }
      }
    },
    {
      "parameters": {
        "operation": "companyFinancials",
        "companyId": "={{ $json.company_id }}",
        "requestOptions": {}
      },
      "type": "@oregister/n8n-nodes-openregister.openRegister",
      "typeVersion": 1,
      "position": [
        448,
        32
      ],
      "id": "5eb5379c-9190-4dee-8564-95287a5dd04e",
      "name": "Get company financials",
      "credentials": {
        "openRegisterApi": {
          "id": "2Cuv4zEm4M1rj5i1",
          "name": "OpenRegister account"
        }
      }
    },
    {
      "parameters": {
        "operation": "companyHoldings",
        "companyId": "={{ $json.company_id }}",
        "requestOptions": {}
      },
      "type": "@oregister/n8n-nodes-openregister.openRegister",
      "typeVersion": 1,
      "position": [
        448,
        416
      ],
      "id": "8f1071af-bdd8-4afd-91a4-d98add5b5351",
      "name": "Get company holdings",
      "credentials": {
        "openRegisterApi": {
          "id": "2Cuv4zEm4M1rj5i1",
          "name": "OpenRegister account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get companies by name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get companies by name": {
      "main": [
        [
          {
            "node": "Get company details",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get company owners",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get company financials",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get company holdings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "93ae7e46-5cdb-490a-a64e-0484abd750c3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "03b1a0f0679326b05c6a39d8699cff91fa57d5a9261d3f0b270b20f168176533"
  },
  "id": "waEWGw5KC0BQRCuk",
  "tags": []
}